.root {
    /* BG Image */
    -fx-background-image: url("/images/Select.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-padding: 28;
}

.root-title {
    -fx-text-fill: white;
    -fx-font-family: "Lato", sans-serif;
    -fx-font-size: 36;
}

.location-card {
    -fx-background-radius: 15 15 15 15;
    -fx-border-width: 1px;
    -fx-border-radius: 15;
    -fx-padding: 9 12;

    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.location-label {
    -fx-font-family: "Lato", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.temperature-label {
    -fx-font-family: "Lato", sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.edit-button {
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #2E2E2E;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-padding: 10;
}

.edit-button:pressed {
    -fx-background-color: #4E4E4E;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 8);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-transition: all 0.1s ease;
}

.edit-button:hover {
    -fx-background-color: #3E3E3E;
    -fx-cursor: hand;
}

.remove-button {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #fa4c4c;
    -fx-alignment: center;
}

.remove-button:pressed {
    -fx-background-color: #ff6b6b;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 8);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-transition: all 0.1s ease;
}

.remove-button:hover {
    -fx-background-color: #ff5c5c;
    -fx-cursor: hand;
}

.zip-code-field {
    -fx-background-color: #2E2E2E;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-padding: 12;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-text-fill: #7A7A7A;
    -fx-alignment: center-left;
    -fx-font-size: 20;
}