.root {
    /* BG Imagae */
    -fx-background-image: url("/images/Select.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-padding: 28;
}

.root-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Lato-Regular";
    -fx-font-size: 36;
}

.location-card {
    /*-fx-background-color: linear-gradient(to right, #FB8500 0%, #FFCA50 80%);*/
    -fx-background-radius: 15 15 15 15;

    /*-fx-border-color: linear-gradient(to right, #FFCA50, #FB8500);*/
    -fx-border-width: 1px;
    -fx-border-radius: 15;

    -fx-padding: 9 12;

    -fx-text-fill: white;
}

.location-label {
    -fx-font-family: "Lato-Black";
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.temperature-label {
    -fx-font-family: "Lato-Regular";
    -fx-font-weight: regular;
    -fx-font-size: 20;
}
