.root {
    /* BG Imagae */
    -fx-background-image: url("/images/Select.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-padding: 28;
}

.root-title {
    -fx-text-fill: white;
    -fx-font-family: "Lato-Regular";
    -fx-font-size: 36;
}

.location-card {
    /*-fx-background-color: linear-gradient(to right, #FB8500 0%, #FFCA50 80%);*/
    -fx-background-radius: 15 15 15 15;

    /*-fx-border-color: linear-gradient(to right, #FFCA50, #FB8500);*/
    -fx-border-width: 1px;
    -fx-border-radius: 15;
    -fx-padding: 9 12;

    -fx-text-fill: white;

    -fx-alignment: center-left;
}

.location-label {
    -fx-font-family: "Lato-Black";
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.temperature-label {
    -fx-font-family: "Lato-Regular";
    -fx-font-size: 20;
}

.edit-button {
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #2E2E2E;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-padding: 10;
}

.remove-button {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #fa4c4c;
    -fx-alignment: center;
}

.zip-code-field {
    -fx-background-color: #2E2E2E;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-padding: 12;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-text-fill: #7A7A7A;
    -fx-alignment: center-left;
    -fx-font-size: 20;
}